/* reset */
* {margin: 0; padding: 0; font-size: 24px; font-weight: bold; color: #fff;}
a {color: #333; text-decoration: none;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content:''; clear:both;}

#wrap {width: 1200px; margin: 0px auto;}

/* header */
#header {text-align: center;}
#header .logo {float: left; width:250px; height:100px; line-height: 100px; background: #d1c4e9;}
#header .nav {float: right; width:950px; height:100px; line-height: 100px; background: #b39ddb;}

/* banner */
#banner {position: relative; width: 1200px; margin: 0 auto; text-align: center; overflow: hidden; height: 360px; }
#banner img {width: 100%; display: block;}
#banner h2 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    padding: 10px 30px;
}

/* slider */
.slider {position: relative;}
.slider > div {position: absolute; left: 0; top: 0;}
.slider > div img {width: 100%;}
.slideList {position: absolute; top: 0; left: 0; width: 1200px; height: 360px;}

/* contents */
#contents {text-align: center;}
#contents > div {float: left; width: 33.333333%; height: 247px; line-height: 247px;}
#contents > div.cont1 {background: #7e57c2;}
#contents > div.cont2 {background: #673ab7;}
#contents > div.cont3 {background: #5e35b1 ;}

/* footer */
#footer {height: 100px; line-height: 100px; text-align: center; }
#footer .foot1 {float: left; width: 200px; background: #5e35b1;}
#footer .foot2 {float: left; width: 800px; background: #512da8;}
#footer .foot3 {float: left; width: 200px; background: #4527a0;}