@charset utf-8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/*워랩, 컨텐츠, 팝업*/

#wrap {
  width: 1000px;
  height: 650px;
  position: relative;
}

#contents {
  width: 800px;
  height: 650px;
  background-color: #ffffff;
  float: left;
}

#pop_back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  display: none;
}

#popup {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  position: fixed;
  top: 13%;
  left: 30%;
  z-index: 10;
  border: 3px solid #2784ff;
  text-align: center;
}

#popup > h3 {
  margin: 40px 20px;
  font-size: 20px;
}

#popup > p {
  margin: 20px;
  text-align: left;
}

#popup > button {
  width: 350px;
  height: 50px;
  background-color: #2784ff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 50px;
}



/*워랩, 컨텐츠, 팝업 끝*/

/*사이드바*/

#sidebar {
  width: 200px;
  height: 650px;
  background-color: #a6ccff;
  float: left;
  position: relative;
  z-index: 5;
}

#logo {
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 120px;
}

#logo > a > img {
  width: 170px;
}

#nav {
  width: 200px;
  height: 550px;
}

.gnb {
  position: relative;
  top: 40px;
  left: 20px;
}

.gnb > li {
  position: relative;
  margin-bottom: 15px;
}

.gnb > li > a {
  display: block;
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.gnb > li > a:hover {
  color: #ffffff;
  background-color: #2784ff;
}

.lnb {
  position: absolute;
  top: 0px;
  left: 160px;
  display: none;
}

.lnb > li > a {
  display: block;
  width: 160px;
  height: 40px;
  background-color: #eee;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.lnb > li > a:hover {
  color: #ffffff;
  background-color: #2784ff;
}


/*사이드바 끝*/

/*슬라이드*/

#slide {
  width: 800px;
  height: 350px;
  background-color: #ffffff;
  overflow: hidden;
}

.slide_box {
  width: 2400px;
  height: 350px;
  position: relative;
}

.slide_box > a {
  display: block;
  float: left;
}

/*슬라이드 끝*/

/*컨텐츠 박스*/

#cont_box {
  width: 800px;
  height: 200px;
}

#cont1 {
  width: 300px;
  height: 200px;
  background-color: #2784ff;
  float: left;
}

.notice {
  width: 280px;
  height: 180px;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.notice > h3 {
  font-size: 20px;
  margin-bottom: 9px;
  border-bottom: 2px solid #2784ff;
  padding: 3px;
}

.notice_list {
  padding: 3px;
}

.notice_list > li {
  margin-bottom: 7px;
}

.notice_list > li > a > span {
  font-size: 14px;
}

.notice_list > li > a > span:first-child {
  font-weight: bold;
}

.notice_list > li > a > span:nth-child(2) {
  float: right;
}

#cont2 {
  width: 250px;
  height: 200px;
  background-color: #ffd86b;
  float: left;
}

.gallary {
  width: 230px;
  height: 180px;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.gallary > h3 {
  font-size: 20px;
  margin-bottom: 9px;
  border-bottom: 2px solid #ffd86b;
  padding: 3px;
}

.gallary_list {
  padding: 30px 10px;
}

.gallary_list > li {
  float: left;
  margin-right: 3px;
}

.gallary_list > li > a > img {
  width: 60px;
}

#cont3 {
  width: 250px;
  height: 200px;
  background-color: #333333;
  float: left;
}

#shortcut {
  width: 230px;
  height: 180px;
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
  line-height: 265px;
}

#shortcut > a > img {
  width: 200px;
}


/*컨텐츠 박스 끝*/

/*푸터*/

#footer {
  width: 800px;
  height: 100px;
  background-color: #666666;
}

#f_logo {
  width: 200px;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 120px;
}

#f_logo > a > img {
  width: 170px;
}

#copyright {
  width: 400px;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
}

#copyright > address {
  font-size: 14px;
  color: #ffffff;
}

#family {
  width: 200px;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
  ;
}

#family > select {
  width: 150px;
  height: 40px;
  font-size: 16px;
}

/*푸터 끝*/
