@charset utf-8;

/* 기본 시작 */

* {
  margin: 0;
  padding: 0;
  color: #333333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 기본 끝 */

/* 워랩, 팝업 시작 */

#wrap {
  width: 100%;
  height: 700px;
  position: relative;
}

#popup {
  width: 350px;
  height: 450px;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 10;
  border: #000e66 3px solid;
  text-align: center;
  display: none;
}

#popup > h3 {
  margin: 10px 0;
}

#popup > button {
  display: block;
  width: 350px;
  height: 40px;
  border: none;
  background-color: #000e66;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 14px;
  cursor: pointer;
}

/* 워랩, 팝업 끝 */

/* 헤더 시작 */

#header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
}

#h_wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

#h_wrap > #logo {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  float: left;
  padding: 25px 0;
  box-sizing: border-box;
}

#h_wrap > #nav {
  width: 1000px;
  height: 100px;
  background-color: #ffffff;
  float: left;
  position: relative;
}

#nav > .wing {
  width: 1200px;
  height: 160px;
  background-color: #000e66;
  position: absolute;
  top: 100px;
  left: -200px;
  display: none;
}

#nav > .gnb {
  float: right;
  position: relative;
  top: 60px;
  right: 20px;
}

.gnb > li {
  float: left;
}

.gnb > li > a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #000e66;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.gnb > li > a:hover {
  background-color: #ffffff;
  color: #000e66;
}

.lnb {
  display: none;
}

.lnb > li {
  width: 150px;
  height: 40px;
  background-color: #000e66;
}

.lnb > li > a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #000e66;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.lnb > li > a:hover {
  background-color: #ffffff;
  color: #000e66;
}

/* 헤더 끝 */

/* 슬라이드 시작 */

#slide {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.slide_box {
  width: 3600px;
  height: 300px;
  position: absolute;
}

.slide_box > img {
  float: left;
}

/* 슬라이드 끝 */

/* 컨텐츠 시작 */

#contents {
  width: 1200px;
  height: 200px;
  background-color: #ffffff;
  margin: 0 auto;
}

#cont1 {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  float: left;
}

#cont1 > h3 {
  width: 380px;
  height: 30px;
  font-size: 22px;
  margin: 12px 10px 0;
}

#cont1 > div {
  width: 380px;
  margin: 10px 10px 0;
}

.notice > li {
  margin-bottom: 5px;
}

.notice > li > a > span:nth-child(2) {
  float: right;
  color: #555;
}

#cont2 {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  float: left;
}

#cont2 > h3 {
  width: 380px;
  height: 30px;
  font-size: 22px;
  margin: 12px 10px 0;
}

#cont2 > div {
  width: 380px;
  margin: 10px 10px 0;
}

.gallary > li {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.gallary > li > a > img {
  width: 120px;
  border-radius: 10px;
}


#cont3 {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  float: left;
  text-align: center;
}

#cont3 > a > img {
  height: 200px;
}

/* 컨텐츠 끝 */

/* 푸터 시작 */

#footer {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

#f_wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

#f_left {
  width: 1000px;
  height: 100px;
  float: left;
}

#f_left > #f_nav {
  width: 1000px;
  height: 50px;
  background-color: #ffffff;
  padding: 14px 200px;
  box-sizing: border-box;
}


#f_nav > ul > li {
  float: left;
  margin-left: 20px;
}

#f_nav > ul > li::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #333333;
  position: relative;
  top: 2px;
  margin-left: 20px
}

#f_nav > ul > li:nth-child(5)::after {
  display: none;
}

#f_nav > ul > li > a {
  font-size: 18px;
}

#f_left > #copyright {
  width: 1000px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  padding: 13px;
  box-sizing: border-box;
}

#family {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  float: left;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
}

#family_list {
  width: 180px;
  height: 50px;
  font-size: 18px;
}

/* 푸터 끝 */
