@charset utf-8;

* {
  margin: 0;
  padding: 0;
  color: #ffffff333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/*워랩, 팝업, 컨텐츠*/

#wrap {
  width: 1000px;
  height: 650px;
  position: relative;
}

#contents {
  width: 800px;
  height: 650px;
  float: left;
}

#popup {
  width: 450px;
  height: 350px;
  background-color: #ffffff;
  position: fixed;
  top: 10%;
  left: 20%;
  z-index: 10;
  border: 3px #f4d7a5 solid;
  text-align: center;
  display: none;
}

#popup > h3 {
  margin: 20px 0;
}

#popup > p {
  margin: 30px 15px;
  text-align: left;
}

#popup > button {
  width: 400px;
  height: 50px;
  background-color: #f4a5b9;
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  top: 15px;
}

/*워랩 팝업 컨텐츠 끝*/

/*사이드바*/

#sidebar {
  width: 200px;
  height: 650px;
  background-color: #ffffff;
  float: left
}

#logo {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  line-height: 125px;
}

#logo > a > img {
  width: 180px;
}

#nav {
  width: 200px;
  height: 550px;
  background-color: #ffffff;
}

.gnb {
  position: relative;
  top: 40px;
  left: 25px;
}

.gnb > li {
  margin-bottom: 10px;
}

.gnb > li > a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
}

.gnb > li > a:hover {
  background-color: #f4a5b9;
}

.lnb {
  display: none;
}

.lnb > li > a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.lnb > li > a:hover {
  background-color: #f4a5b9;
}

/*사이드바 끝*/

/*슬라이드*/

#slide {
  width: 800px;
  height: 350px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.slide_box > a {
  display: block;
  position: absolute;
  display: none;
}

.slide_box > a:first-child {
  display: block;
}

/*슬라이드 끝*/

/*컨텐츠 박스*/

#cont_box {
  width: 800px;
  height: 200px;
  background-color: #ffffff;
}

#cont1 {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  float: left;
}

#cont1 > h3 {
  width: 280px;
  height: 30px;
  margin: 15px 10px 0;
  font-size: 20px;
}

#cont1 > div {
  width: 280px;
  margin: 10px 10px 0;
}

.notice > li {
  margin-top: 11px;
}

.notice > li > a {
  font-size: 14px
}

.notice > li > a > span:nth-child(2) {
  float: right;
}

#cont2 {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  float: left;
}

#cont2 > h3 {
  width: 280px;
  height: 30px;
  margin: 15px 10px 0;
  font-size: 20px;
}

#cont2 > div {
  width: 280px;
  margin: 10px 10px 0;
  padding-top: 25px;
}

.gallary > li {
  float: left;
  margin-left: 14px;
}

#cont3 {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  float: left;
  line-height: 290px;
}

#cont3 > a > img {
  width: 200px;
}

/*컨텐츠 박스 끝*/

/*푸터*/

#footer {
  width: 800px;
  height: 100px;
  background-color: #ffffff;
}

#copyright {
  width: 600px;
  height: 100px;
  background-color: #ffffff;
  float: left;
  text-align: center;
  line-height: 100px;
}


#f_box {
  width: 200px;
  height: 100px;
  float: left;
}

#sns {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 75px;
}

#sns > a > img {
  height: 40px;
}

#family {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 50px;
}

#family_box {
  width: 150px;
  height: 35px;
  font-size: 16px;
}

/*푸터 끝*/
