#wrap
{
    width:1903px;
    height:1146px;

    background: aliceblue;
}

#header
{
    width:1903px;
    height:40px;

    background: aqua;
}

#contents
{
    width:1903px;
    height:651px;

    background: aquamarine;
}

#footer
{
    width:1903px;
    height:455px;

    background: blueviolet;
}
