/* 기본속성 시작 */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 10px;
    box-sizing: border-box;
}

hr{
    margin: 10px 0;
}
/* 기본속성 끝 */

#wrap{
    width: 100%;
    max-width: 1100px;
    padding: 50px 10px 10px;
    margin: 0 auto;
}

audio{
    width: 100%;
    max-width: 1100px;
    height: 50px;
    display: block;
    position: fixed;
    top: 0;
}

h1{
    display: inline-block;
    margin-left: 30px;
}

img{
    width: 300px;
    height: 420px;
    float: right;
    margin: 15px;
}

table{
    margin-left: 30px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px;
}

li::before{
    content: '▶ ';
}

#div1{
    background-color: antiquewhite;
    margin: 0 370px 0 30px;
}

#div2{
    background-color: #e9e9e9;
    margin: 0 370px 0 30px;
    padding: 10px;
    box-sizing: border-box;
}

#div3>embed{
    display: block;
    margin: 15px auto;
}

input{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}